.home{
    height: 100vh;
}
.main{
    display: flex;
    height: 100%;
}

.main > .left{
    /* display: none; */
}
.left{
    display: none;
    flex: 1;
}
.right{
    flex: 2;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3rem; */
}
.name{
    font-size: 4rem !important;
    font-weight: 700 !important;
    color: white;
    max-width: 24rem;
}
.left{
    background: url("../../assets/gradient.jpg");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}