@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.galleries{
    padding: 2rem 5rem;
    background-color: rgb(242, 242, 253);
}

.title{
    font-size: 1.9rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color: #797979 !important;
    margin-bottom: 1rem !important;
}

@media only screen and (max-width: 675px){
    .galleries{
        padding: 1rem 5px;
        margin: auto;
    }
  }