@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.socialMedia{
    padding: 2rem;
}

.title{
    font-size: 2.5rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
    color: #797979 !important;
    margin-bottom: 1rem !important;
}

.container{
    display: flex;
    justify-content: center;
}
.container > div:last-child{
    border: lightgray 2px solid !important;
    height: fit-content !important;
}
.container > div {
    margin: 1rem !important;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}