.latestBooks {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: #797979;
}
.bookList {
  overflow: auto;
  width: 90%;
  padding: 1rem 0;
  display: flex;
  /* justify-content: center; */
}
.bookImage {
  width: auto;
  height: 17rem;
  margin: 1rem;
  border-radius: 5px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.latestBooks > .btn {
  margin: 1.5rem 0 !important;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f9d4ff 14%, #9ca8ff 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #9ca8ff 14%, #f9d4ff 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}
