.socialbar{
    position: fixed;
    top: 6rem;
    left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.instagram, .facebook, .twitter, .youtube{
    padding: 0.5rem;
    margin: 2px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    transition: 0.5s;
}
.instagram:hover, .facebook:hover, .twitter:hover, .youtube:hover{
    cursor: pointer;
    width: 7rem;
}

.instagram:hover > .title, .facebook:hover > .title, .twitter:hover > .title, .youtube:hover > .title {
    display: block;
}
.instagram{
    background-color: #ec21baaf;
}
.facebook{
    background-color: rgb(19, 138, 2500.822);
}
.twitter{
    background-color: rgba(6, 164, 255, 0.822);
}
.youtube{
    background-color: rgba(255, 34, 34, 0.822);
}
.icon{
    color: white !important;
}

.title {
    font-size: 0.8rem !important;
    color: white !important;
    display: none; 
}