.wisdomQuotes {
    display: flex;
    justify-content: centers;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  /* background: rgb(122, 149, 201);
  background: linear-gradient(
    180deg,
    rgba(122, 149, 201, 1) 0%,
    rgba(104, 104, 127, 1) 100%
  ); */
  background-color: rgb(48, 48, 48);
}
.headerTitle{
    color: white !important;
    font-weight: lighter !important;
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif !important;
    position: absolute;
    /* margin-bottom: 0.5rem; */
}
.content{
    display: flex;
    flex-direction: column;
}
.content > img:last-child {
  transform: rotate(180deg);
  align-self: flex-end;
  margin: 0 -3rem;
}
.content >img:first-child{
    margin: 0 -3rem;
}

.content > img {
    width: 2rem;
    height: auto;
    filter: invert(85%);
}

.message{
    max-width:30rem !important;
    color: white !important;
    text-align: center !important;
    font-size: 0.9rem !important;
}

@media only screen and (max-width:  584px){
  .content > img{
    display: none;
  }
  .message{
    margin-top: 2rem !important;
  }
  /* .wisdomQuotes{
    padding: 5px;
  } */
}