.about {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
}
.aboutLeft {
  position: relative;
  padding: 4rem 0;
}
.aboutLeft > img:nth-child(1) {
  position: absolute;
  top: 1rem;
  right: -3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.header {
  font-size: x-large !important;
}
.aboutRight,
.aboutLeft {
  margin: 0 3rem;
}
.content {
  max-width: 30rem;
  margin-top: 0.3rem;
  margin-bottom: 0.9rem;
}
.content > * {
  margin: 1rem 0 !important;
  font-size: 0.9rem !important;
}
.buttonContainer {
  display: flex;
  /* width: fit-content; */
}
.btn {
  margin: 0.5rem 0rem !important;
  border-radius: 0 !important;
}
.outlinedBtn {
  border-width: 5px !important;
  border-color: #3f51b5 !important;
  /* color: #3f51b5 !important; */
}


@media only screen and (max-width:1000px){
  .about{
    flex-direction: column;
  }
  .aboutLeft{
    width: fit-content;
    margin: auto;
  }
  .aboutRight{
    width: fit-content;
    margin: auto;
  }
}

@media only screen and (max-width:900px){
  .about{
    padding: 2rem 1rem;
  }
  /* .header{
    text-align: center;
  } */
  .aboutLeft{
    padding: 3rem;
  }
  .aboutLeft > img:nth-child(1) {
    width: 17rem;
    right: 15px;
  }
  .aboutLeft > img:nth-child(2) {
    width: 15rem;
  }
  .buttonContainer{
    width: fit-content;
    margin: auto;
  }
}