.contact {
  padding: 2rem;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  background: url("../../assets/forestroad.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.contactContainer {
  width: 45rem;
  /* background-color: #8082CD; */
  background-color: #000000a1;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  box-shadow: -25px 10px 47px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: -25px 10px 47px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: -25px 10px 47px -9px rgba(0,0,0,0.75);
}
.envelope {
  height: auto;
  width: 16rem;
  filter: invert(1);
}
.contactLeft,
.contactRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactLeft {
  justify-content: center;
  padding: 1rem;
}
.contactRight {
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem !important;
  color: white !important;
  font-weight: bold !important;
}

.input {
  margin: 0.3rem 0 !important;
  width: 100% !important;
  background-color: white !important;
  /* border-radius: 10px !important; */
}
