@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu > li {
    list-style: none;
    margin: 0 2rem;
}

.menu > li > p{
    font-size: 0.9rem !important;
}

.menu > li > p:hover{
    cursor: pointer;
}
.logo{
    font-family: 'Sacramento', cursive !important;
    font-size: 1.5rem !important;
}